<a href="https://colab.research.google.com/github/elivvo/Data-analisys/blob/main/token.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import json
import pandas as pd
import re
import numpy as np
!pip install razdel
import razdel
from razdel import tokenize
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
!pip install pymorphy2
!pip install -U pymorphy2-dicts-ru
import pymorphy2

Requirement already satisfied: razdel in /usr/local/lib/python3.7/dist-packages (0.5.0)
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
Requirement already satisfied: pymorphy2 in /usr/local/lib/python3.7/dist-packages (0.9.1)
Requirement already satisfied: pymorphy2-dicts-ru<3.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (2.4.417127.4579844)
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.6.2)
Requirement already satisfied: dawg-python>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.7.2)
Requirement already satisfied: pymorphy2-dicts-ru in /usr/local/lib/python3.7/dist-packages (2.4.417127.4579844)

In [76]:
stop_eng = set(stopwords.words('english') + ['a', 'b', 'c', 'd', 'e', 'f', 'g', 
                                             'h', 'i', 'j', 'k', 'l', 'm', 'n',
                                             'o', 'p', 'q', 'r', 's', 't', 'u', 
                                             'v', 'w', 'x', 'y', 'z'])
stop_rus = set(stopwords.words('russian') + ['а', 'о', 'у', 'ы', 'э', 'я', 'е', 
                                             'ё', 'ю', 'и', 'б', 'в', 'г', 'д', 
                                             'й', 'ж', 'з', 'к', 'л', 'м', 'н', 
                                             'п', 'р', 'с', 'т', 'ф', 'х', 'ц', 
                                             'ч', 'ш', 'щ']) 
stop_words = stop_eng.union(stop_rus)

In [77]:
morph = pymorphy2.MorphAnalyzer()

#**Загрузка данных**

In [78]:
project_cleaned = pd.read_csv("projects_cleaned.csv", sep=",")

In [79]:
project_cleaned

     Unnamed: 0  ...                                          vacancies
0             0  ...  Веб разработчик Аналитик/ разработчик API инте...
1             1  ...                                                NaN
2             2  ...                                                NaN
3             3  ...  Программист Arduino/Raspberry Программист C++/...
4             4  ...                                                NaN
..          ...  ...                                                ...
109         109  ...  Инженер-исследователь  Навыки работы в CAD/CAE...
110         110  ...                                                NaN
111         111  ...                                                NaN
112         112  ...  back-end разработчик Frontend-разработчик API ...
113         113  ...                                                NaN

[114 rows x 5 columns]

#**Токенизация**

In [80]:
def tokenize_razdel(text):
  return [token.text for token in razdel.tokenize(text)]

def stopwords_cleaning(text):
  return [w for w in tokenize_razdel(text) if not w in stop_words]

In [81]:
project_token = project_cleaned

In [82]:
project_token['information'] = project_token['information'].apply(stopwords_cleaning)

In [83]:
project_token

     Unnamed: 0  ...                                          vacancies
0             0  ...  Веб разработчик Аналитик/ разработчик API инте...
1             1  ...                                                NaN
2             2  ...                                                NaN
3             3  ...  Программист Arduino/Raspberry Программист C++/...
4             4  ...                                                NaN
..          ...  ...                                                ...
109         109  ...  Инженер-исследователь  Навыки работы в CAD/CAE...
110         110  ...                                                NaN
111         111  ...                                                NaN
112         112  ...  back-end разработчик Frontend-разработчик API ...
113         113  ...                                                NaN

[114 rows x 5 columns]

In [84]:
project_token.to_csv('project_token.csv')

#**Лемматизация**

In [85]:
project_filtered = project_cleaned

In [86]:
def lemming(text):
  info = list()
  for word in text:
    info.append(morph.parse(word)[0].normal_form)
  return info

In [87]:
project_filtered['information'] = project_filtered['information'].apply(lemming)

In [88]:
project_filtered

     Unnamed: 0  ...                                          vacancies
0             0  ...  Веб разработчик Аналитик/ разработчик API инте...
1             1  ...                                                NaN
2             2  ...                                                NaN
3             3  ...  Программист Arduino/Raspberry Программист C++/...
4             4  ...                                                NaN
..          ...  ...                                                ...
109         109  ...  Инженер-исследователь  Навыки работы в CAD/CAE...
110         110  ...                                                NaN
111         111  ...                                                NaN
112         112  ...  back-end разработчик Frontend-разработчик API ...
113         113  ...                                                NaN

[114 rows x 5 columns]

In [90]:
project_filtered.to_csv('project_filtered.csv')