<a href="https://colab.research.google.com/github/elivvo/hello-world/blob/main/token.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import pandas as pd
import re
import numpy as np
!pip install razdel
import razdel
from razdel import tokenize
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

Requirement already satisfied: razdel in /usr/local/lib/python3.7/dist-packages (0.5.0)
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
stop_eng = set(stopwords.words('english') + ['a', 'b', 'c', 'd', 'e', 'f', 'g', 
                                             'h', 'i', 'j', 'k', 'l', 'm', 'n',
                                             'o', 'p', 'q', 'r', 's', 't', 'u', 
                                             'v', 'w', 'x', 'y', 'z'])
stop_rus = set(stopwords.words('russian') + ['а', 'о', 'у', 'ы', 'э', 'я', 'е', 
                                             'ё', 'ю', 'и', 'б', 'в', 'г', 'д', 
                                             'й', 'ж', 'з', 'к', 'л', 'м', 'н', 
                                             'п', 'р', 'с', 'т', 'ф', 'х', 'ц', 
                                             'ч', 'ш', 'щ']) 
stop_words = stop_eng.union(stop_rus)

#**Загрузка данных**

In [ ]:
project_cleaned = pd.read_csv("projects_cleaned.csv", sep=",")

In [ ]:
project_cleaned

     Unnamed: 0  ...                                          vacancies
0             0  ...  Веб разработчик Аналитик/ разработчик API инте...
1             1  ...                                                NaN
2             2  ...                                                NaN
3             3  ...  Программист Arduino/Raspberry Программист C++/...
4             4  ...                                                NaN
..          ...  ...                                                ...
109         109  ...  Инженер-исследователь  Навыки работы в CAD/CAE...
110         110  ...                                                NaN
111         111  ...                                                NaN
112         112  ...  back-end разработчик Frontend-разработчик API ...
113         113  ...                                                NaN

[114 rows x 5 columns]

#**Токенизация**

In [ ]:
def tokenize_razdel(text):
  return [token.text for token in razdel.tokenize(text)]

def stopwords_cleaning(text):
  return [w for w in tokenize_razdel(text) if not w in stop_words]

In [ ]:
project_token = project_cleaned

In [ ]:
project_token['information'] = project_token['information'].apply(stopwords_cleaning)

In [ ]:
project_token

     Unnamed: 0  ...                                          vacancies
0             0  ...  Веб разработчик Аналитик/ разработчик API инте...
1             1  ...                                                NaN
2             2  ...                                                NaN
3             3  ...  Программист Arduino/Raspberry Программист C++/...
4             4  ...                                                NaN
..          ...  ...                                                ...
109         109  ...  Инженер-исследователь  Навыки работы в CAD/CAE...
110         110  ...                                                NaN
111         111  ...                                                NaN
112         112  ...  back-end разработчик Frontend-разработчик API ...
113         113  ...                                                NaN

[114 rows x 5 columns]

In [ ]:
project_token.to_csv('project_token.csv')

#**Лемматизация**

In [ ]:
project_filtered = project_cleaned